<div class="jumbotron">
  <div class="container">
    <h1 id="title">WE CAN USE WHALES</h1>
    <h2>A cetacean blog</h2>
    {{#link-to 'index'}}Home{{/link-to}}
    {{#link-to 'about'}}About{{/link-to}}
    {{#link-to 'contact'}}Contact{{/link-to}}

  </div>
</div>
<div class="container">
  {{outlet}}
</div>
